* {
	padding: 0;
	margin: 0; 
}

.header {
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	font-family: monospace;
}



img {
	width: 220px;
	height: 60px;
	margin: 3px 0px 0px 3px;	
}

.navbar {
	margin-right: 120px;
	font-size: 20px;
}


.navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	

}

.navbar li {
	display: inline;
}



.navbar a {
	display: inline-block;
	text-decoration: none;
	color: black;
	text-align: center; 
	padding: 20px 20px;
}

.navbar a:hover {
	background-color: lightblue;
	border-radius: 20px;
}

.description {
	max-width: 100%;
	height: 350px;
	border-radius: 10px;
	background-color: #4085A6;
	overflow: hidden;

}

.description-picture {
	max-width: 40%;
	height: 100%;
	float: left;
	
} 
.description-img {
	margin: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.description-text {
	font-family: 'Itim', cursive;
}

.description-text p {
	font-size: 30px;
}

.other-products {
	max-width: 1200px;
	height: auto;
	margin-left: 20px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	height: 400px;
	
}

.other-products img {
	width: 305px;
	height: 200px;
	border-radius: 20px;
}

.products h2 {
	text-align: center;
}



.message-send-box {
	border: 2px dashed black;
	width: 50%;
}